<?xml version="1.0"?>
<!--
/**
 * Copyright © 2025 Studio Raz. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Prevent the button from switching to lacNotAllowedPopup when the customer has no DB consent record -->
    <type name="Magento\LoginAsCustomerAdminUi\Ui\Customer\Component\Button\DataProvider">
        <plugin name="login_as_customer_button_data_provider_plugin" disabled="true"/>
    </type>
</config>
