<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Copyright © 2025 Studio Raz. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="SR_DisableCustomerRemoteAssistanceConsent::config" title="Disable Customer Remote Assistance Consent" module="SR_DisableCustomerRemoteAssistanceConsent" translate="title" sortOrder="10000"
             action="adminhtml/system_config/edit/section/sr_LoginAsCustomer" parent="SR_Base::srbase" resource="SR_DisableCustomerRemoteAssistanceConsent::config"/>
    </menu>
</config>
